html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
margin:0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Встановлюємо знизу */
    background-image: url('photo1.jpg');
    background-size: 100% 100%;
}
#ticket-info{height: 100%;}
#purchase-date{
color: grey;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    position: relative;
    top: 24%;
}
#validity{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
    position: relative;
    top: 36.4%;
    padding-left: 6%;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    color: grey;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
    position: fixed;
    bottom: 15%;
}
#footer b{
color: black;
}